// out: ../../assets/icons.css

@import "icons/variables"

@font-face
  font-family 'icomoon'
  src url(icomoon-font-path + '/icomoon.ttf?nsiova') format('truetype'), url(icomoon-font-path + '/icomoon.woff?nsiova') format('woff'), url(icomoon-font-path + '/icomoon.svg?nsiova#icomoon') format('svg')
  font-weight normal
  font-style normal

i
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-android
  &:before
    content icon-android
.icon-gitlab
  &:before
    content icon-gitlab
.icon-mastodon
  &:before
    content icon-mastodon
.icon-docks
  &:before
    content icon-docks
.icon-love
  &:before
    content icon-love
.icon-pin
  &:before
    content icon-pin
.icon-menu
  &:before
    content icon-menu
.icon-add
  &:before
    content icon-add
.icon-search
  &:before
    content icon-search
.icon-settings
  &:before
    content icon-settings
.icon-team
  &:before
    content icon-team
.icon-fail
  &:before
    content icon-fail
.icon-zoom-in
  &:before
    content icon-zoom-in
.icon-zoom-out
  &:before
    content icon-zoom-out
