// out: ../landing/style.css

$green = #52ab39
$dark = #393a3a

$text = 'Montserrat'
$code = 'Anonymus Pro'

$round = 20px

around( foo )
  margin foo
  padding foo

view-size( foo )
  width foo * 1vw
  height foo * 1vh

corners( foo )
  border-radius foo
  border none

area( foo )
  grid-area foo

text( fam, col, size, weight )
  font-family fam
  font-size size
  font-weight weight
  color col

body
html
  around 0

:link
:visited
:active
  text-decoration none
  color inherit

@import "landing/welcome";

// *
//   border thin orange dotted
