@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?prp1ze') format('truetype'),
    url('fonts/icomoon.woff?prp1ze') format('woff'),
    url('fonts/icomoon.svg?prp1ze#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-andro:before {
  content: "\e859";
}
.icon-bugs:before {
  content: "\e868";
}
.icon-team:before {
  content: "\e7fb";
}
.icon-docks:before {
  content: "\e24d";
}
.icon-gitlab:before {
  content: "\e905";
}
.icon-mastodon:before {
  content: "\e906";
}
