body,
html {
  margin: 0;
  padding: 0;
}
:link,
:visited,
:active {
  text-decoration: none;
  color: inherit;
}
.welcome {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(82,171,57,0.667), rgba(82,171,57,0.75)), url("../../assets/img/frontpage.jpg");
  display: grid;
  grid-template-rows: 11fr 1fr;
  justify-content: center;
}
.welcome .main {
  display: grid;
  grid-template-areas: "logo type" "logo motto" "logo starter";
  align-content: center;
  width: 60vw;
}
.welcome .main__logo {
  grid-area: "logo";
  grid-row: 1/4;
  margin: auto 0 0 0;
  height: 20vh;
}
.welcome .main__type {
  align-self: center;
  grid-area: "type";
  font-family: 'Montserrat';
  font-size: 5em;
  font-weight: bold;
  color: #393a3a;
  line-height: 0.75em;
}
.welcome .main__motto {
  align-self: center;
  grid-area: "motto";
  font-family: 'Montserrat';
  font-size: 2em;
  font-weight: 500;
  color: #fff;
  line-height: 1.5em;
}
.welcome .main__starter {
  grid: "starter";
  align-self: center;
  border-radius: 20px;
  border: none;
  width: 45vw;
  background-color: #fff;
  display: grid;
  grid-template-columns: 6fr 2fr;
}
.welcome .main__starter #search {
  background-color: inherit;
  border-radius: 20px;
  border: none;
  color: #393a3a;
}
.welcome .main__starter #start {
  background-color: #393a3a;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.welcome .main__starter * {
  font-size: 14pt;
  padding: 5px 15px;
}
.welcome .more {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  font-size: 2em;
}
.welcome .more i {
  padding: 10px;
  cursor: pointer;
  border-radius: 100%;
}
.welcome .more i:hover {
  border: medium #fff solid;
}
